<!-- footer.html -->
<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav>
                    <ul class="list-unstyled d-flex justify-content-center">
                        <li class="me-3"><a href="https://www.github.com/martincarapia" target="_blank" class="text-light">Github</a></li>
                        <li><a href="https://www.instagram.com/martincarapiaa" target="_blank" class="text-light">Instagram</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
