{% extends 'myfinalweb/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Log in to your account</h2>
                        <form action="{% url 'accounts:login' %}" method='post'>
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="text-center">
                                {% bootstrap_button button_type="submit" content="Log in" button_classes="btn-primary" %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_header %}
